RewriteEngine On
RewriteBase /v3/

# Rewrite prediction/xxx to index.php?view=prediction&id=xxx
RewriteRule ^prediction/(.+)$ index.php?view=prediction&id=$1 [L,QSA]

# Rewrite user/xxx to index.php?view=user&user=xxx
RewriteRule ^user/(.+)$ index.php?view=user&user=$1 [L,QSA]

# Rewrite xxx to index.php?view=xxx
RewriteRule ^(.+)$ index.php?view=$1 [L,QSA]