:root{
	--color-text: black;
	--color-secondary: darkgray;
	--color-tertiary: lightgray;
	--color-background: white;
	--color-background-header: var(--color-background);

	--color-external-link: blue;
	--color-external-link-active: deepskyblue;
	--color-external-link-visited: darkviolet;
	--color-external-link-visited-active: mediumpurple;

	--color-administrator: crimson;
	--color-moderator: green;
	--color-verifier: sienna;
}
