/* ---------- Variables ---------- */
:root{
	--font-name: FiraSans;
	--font-size: 20px;

	--color-text: black;
	--color-background: white;
	--color-background-header: var(--color-background);
}

/* ---------- General ---------- */
@font-face {
	font-family: FiraSans;
	src: url("FiraSans.ttf");
}

body{
	font: var(--font-size) var(--font-name);
	color: var(--color-text);
	background: var(--color-background);

	margin: 0;
	text-align: center;
}

h1{
	margin-top: calc(var(--font-size) * 1.5);
	margin-bottom: calc(var(--font-size) * 1.5);

	font-size: calc(var(--font-size) * 2);
}

a{
	text-decoration: none;
	color: var(--color-text);
}

abbr{
	text-decoration: none;
	cursor: help;
}

hr{
	display: inline-block;

	margin: calc(var(--font-size) * 2);
	border: 2px solid var(--color-text);
	width: calc(var(--font-size) * 50);
}

hr.mini{
	margin: calc(var(--font-size) * 1.5);
	border: 1px solid var(--color-text);
	width: calc(var(--font-size) * 20);
}

table{
	font-size: var(--font-size);
}

/* ---------- Forms ---------- */
input, select, label, button{
	font: calc(var(--font-size) * 1.2) var(--font-name);
	background-color: var(--color-background);
	border-radius: calc(var(--font-size) * 0.5);
}

input{
	margin-bottom: var(--font-size);
}

label{
	display: block;
}

button{
	transition-duration: 400ms;
}

button:hover{
	color: var(--color-background);
	background-color: var(--color-text);
	cursor: pointer;
}

form > p{
	margin: 0;
	font-size: calc(var(--font-size) * 0.8);
}

/* ---------- By class ---------- */
.error{
	color: darkred;
}

/* ---------- By ID ---------- */
#header{
	position: sticky;
	top: 0;
	height: calc(var(--font-size) * 2.5);

	background: var(--color-background-header);
	border-bottom: 1px solid var(--color-text);
	box-shadow: 0 0 var(--font-size) lightgray;
}

#header > *{
	zoom: 2.5;
}

#footer{
	border-top: 1px solid var(--color-text);
	margin-top: var(--font-size);
	box-shadow: 0 0 var(--font-size) calc(var(--font-size) * 0.2) lightgray;

	font-size: calc(var(--font-size) * 0.8);

	top: calc(100% - var(--font-size));
	position: sticky;
}

#footer > p{
	background: var(--color-background-header);
	width: calc(100% / 4);
	float: left;
	margin: 0;
}