/* ---------- Variables ---------- */
:root{
	--font-name: FiraSans;
	--font-size: 20px;

	--color-text: rgb(10%, 10%, 10%);
	--color-background: rgb(95%, 95%, 95%);
	--color-background-header: rgb(90%, 90%, 90%);
}

/* ---------- Global rules ---------- */
@font-face {
	font-family: FiraSans;
	src: url("FiraSans.ttf");
}

body{
	font: var(--font-size) var(--font-name);
	color: var(--color-text);
	background: var(--color-background);

	margin: 0;
	text-align: center;
}

h1{
	margin-top: calc(var(--font-size) * 1.5);
	margin-bottom: calc(var(--font-size) * 1.5);

	font-size: calc(var(--font-size) * 2);
}

a{
	text-decoration: none;
	color: var(--color-text);
}

abbr{
	text-decoration: none;
	cursor: help;
}

table{
	font-size: var(--font-size);
}

/* ---------- By class ---------- */

table.predictions_list{
	display: inline-block;
	text-align: center;
}

table.predictions_list > tbody > tr > th, table.predictions_list > tbody > tr > td{
	padding: calc(var(--font-size) * 0.5);
}

/* ---------- By ID ---------- */

#header{
	position: sticky;
	top: 0;
	height: calc(var(--font-size) * 2.5);

	background: var(--color-background-header);
	border-bottom: 1px solid var(--color-text);
}

#header > *{
	zoom: 2.5;
}

#footer{
	border-top: 1px solid var(--color-text);
	margin-top: var(--font-size);

	font-size: calc(var(--font-size) * 0.8);

	top: calc(100% - var(--font-size));
	position: sticky;
}

#footer > p{
	background: var(--color-background-header);
	width: calc(100% / 3);
	float: left;
	margin: 0;
}