:root{
	--color-text: white;
	--color-secondary: rgb(128, 128, 128);
	--color-tertiary: rgb(64, 64, 64);
	--color-background: rgb(32, 32, 32);
	--color-background-header: var(--color-background);

	--color-external-link: deepskyblue;
	--color-external-link-active: blue;
	--color-external-link-visited: mediumpurple;
	--color-external-link-visited-active: darkviolet;

	--color-moderator: green;
}

img{
	filter: invert(1);
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator{
	filter: invert(1);
}
